.feed {
  padding: 20px 0;
  width: 90%;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .search {
      width: 800px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .searchSelect {
        font-size: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
      }
    }
  }

  .postWrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .posts{
      width: 80%;
    }
  }
}

@media (max-width: 1075px) {
  .feed {
    padding: 10px 0;
    width: 100%;

    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .search {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .searchSelect {
          font-size: 15px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          color: black;
        }
      }
    }

    .postWrapper {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;

      .posts{
        width: 70%;
      }
    }
  }
}


@media (max-width: 857px) {
  .feed {
    padding: 10px 0;
    width: 100%;

    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .search {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .searchSelect {
          font-size: 15px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          color: black;
        }
      }
    }

    .postWrapper {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;

      .posts{
        width: 70%;
      }
    }
  }
}
