.confirmModal {
  // width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  color: #000000;

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;

    .cancel {
      &:hover {
        background-color: #e99494;
      }
    }
  }
}
