.post {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background: #489e4e;
  color: #fff;

  .postTop{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .userInfo {
      display: flex;
      gap: 10px;
      margin-left: 20px;
      cursor: pointer;
  
      div {
        .date {
          font-size: 13px;
          color: #d0d0d0;
        }
      }
    }

    .icons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      
      .publish{
        font-size: 15px;
        padding: 10px 18px;
      }
    }

  }

  .postInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .postTitle {
      font-size: 30px;
    }

    .postCategory{
      font-size: 15px;
    }
  
    .postText {
      font-size: 20px;
    }
  }


}

@media (max-width: 1024px) {
  .post {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: #489e4e;
    color: #fff;
  
    .postTop{
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .userInfo {
        display: flex;
        gap: 10px;
        margin-left: 20px;
        cursor: pointer;
    
        div {
          .date {
            font-size: 13px;
            color: #d0d0d0;
          }
        }
      }
  
      .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        .publish{
          font-size: 15px;
          padding: 10px 18px;
        }
      }
  
    }
  
    .postInfo{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
      .postTitle {
        font-size: 30px;
      }
  
      .postCategory{
        font-size: 15px;
      }
    
      .postText {
        text-align: center;
      }
    }
  
  
  }
}


@media (max-width: 857px) {
  .post {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: #489e4e;
    color: #fff;
  
    .postTop{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  
      .userInfo {
        display: flex;
        gap: 10px;
        margin-left: 20px;
        cursor: pointer;
    
        div {
          .userEmail{
            font-size: 14px;
          }
          .date {
            font-size: 10px;
            color: #d0d0d0;
          }
        }
      }
  
      .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        .publish{
          font-size: 12px;
          padding: 8px 15px;
        }
      }
  
    }
  
    .postInfo{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
      .postTitle {
        font-size: 25px;
      }
  
      .postCategory{
        font-size: 10px;
      }
    
      .postText {
        font-size: 15px;
      }
    }
  
  
  }
}