.btn {
  background-color: #a3e4b7;
  color: black;
  font-size: 20px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #b8e994;
  }

  &:disabled {
    background: #668d72;
  }
}
