.wrapper{
    background-color: #489e4e;
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;

    header{
        display: flex;
        width: 1200px;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        position: absolute;

        .logo.header{
            background: rgba(255, 255, 255, 0.4);
        }

        .user{
            font-size: 40px;
            color: #fff;
            cursor: pointer;
        }
    }
}






