.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

@media (max-width: 857px) {
    .searchForm{
        width: 500px;
        gap: 10px;
    }
}